<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store.location %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @store.post_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
